/* .News-title {
    background-color: var(--primary-color);
    color: var(--secondary-color);
} */
.order {
    background: rgb(239, 21, 21);
}

.order h2 {
    font-size: 35px;
    margin: 60px auto 0;
}
.order h1 {
    color: #000;
    font-size: 44px;
    letter-spacing: inherit;
    margin: 5px auto 25px;
}

.col-md-5 h3{
    color: black;
    font-size: 21px;
    margin-top: 50px;
   width: 50%;
   padding-right: 50px;
   text-align: left;
}

.col-md-5  p {
    color: black;
    margin-top: 40px;
    width: 50%;
    padding-right: 50px;
    text-align: left;
}

 .btn {
    display: block;
    margin: 15px 25px;
    font-size: 16px;
    border-radius: 15px;
    padding: 10px 15px;
    width: 20%;
    
}

.col-md-7 {
    position: relative;
    padding-left: 50%;
    
}
