/* .Kontakt-title {
    background-color: var(--primary-color);
    color: var(--secondary-color);
} */
.clients h2 {
    margin: 60px auto 0;
    font-size: 35px;
}

.clients h1 {
    margin-bottom: 80px;
    margin: 0 auto 60px;
    font-size: 44px;
}

.cloud-background {
    position: relative;
    background: #000;
    border-radius: 35px;
    padding: 45px 50px;
    margin-bottom: 60px;
}

.cloud-background p {
    color: #fff;
    margin-bottom: 25px;
}

.cloud-background .picture {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: #a4a4a5;   
}

 .clients .staff-full-name,  .clients .staff-profession {
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 5px 15px;
}

.clients .staff-full-name {
    font-size: 25px;
    color: #ffc61a;
}

.cloud-left, .cloud-right {
    position: absolute;
    bottom: -30px;
    width: 0; 
    height: 0;  
}

.cloud-left {
    border-bottom: 30px solid transparent;  
    border-right: 30px solid #000; 
    right: 15%;
}

.cloud-right {
    border-bottom: 30px solid transparent;  
    border-left: 30px solid #000; 
    left: 15%;
}


/* FOOTER */
footer .container {
    margin: 30px auto 60px;
    flex-direction: column;
    color: #fff;
}

footer h4 {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 30px auto;
}

.line-separator {
    width: 85%;
    height: 8px;
    background: #ffc61a;
    margin-bottom: 30px;
}

footer .contact-row {
    display: flex;
    justify-content: center;
}

footer p {
    margin-bottom: 30px;
    width: 85%;
}

footer .social-links, footer .phone-users {
    margin-right: 20px;
    color: #ffc544;
}

footer .social-links:hover .fa {
    color: #ffc61a;
    transform: scale(1.2);
}

footer .social-links .fa {
    font-size: 22px;
    transition: 0.4s;
}

footer .phone-users {
    font-size: 20px;
    display: inline-block;
    width: 150px;
    margin-bottom: 15px;
    line-height: 30px;
}

footer .fa-android, footer .fa-apple {
    font-size: 30px;
}

footer .contact-paragraph {
    padding-left: 10px;
}

footer .footer-info {
    background: #000;
}

footer .footer-info .copy-write {
    text-align: center;
    line-height: 35px;
    margin-bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 14px;
}